.movieCard {
  width: 15rem;
  background-color: black;
  color: white;
  margin: 1%;
  border-radius: 20px;
}

.movieImg {
  width: 97%;
  margin: 62px 0 10px 4px;
  border-radius: 20px;
}

.movieTitle {
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
}

.addMovieBtn {
  cursor: pointer;
  font-size: 50px;
  margin: 75% 0;
}
